{% extends "layout.html" %}

{% block title %}
	<link rel="stylesheet" href="{{url_for('static', filename='indexstyle.css')}}" />
	<title>TraceNext</title>
{% endblock %}

{% block body %}
	<header>
		<section class="sitename">TraceNext</section>
		<a href="">My Profile</a>
	</header>

	<form action="">
		<div class="entries">
			<input type="text" name="location" placeholder="Location" />
			<input type="date" name="date" placeholder="" />
		</div>
		<button>ADD</button>
	</form>
	<main>
		<h1>Dashboard</h1>
		<div class="log">
			<div class="date">
				<div class="day">17</div>
				<div class="month">Aug</div>
			</div>
			<div class="location">
				<div class="place">University of Waterloo</div>
				<div class="area">Waterloo, ON</div>
			</div>
			<button>X</button>
		</div>
	</main>
	<script src="app.js"></script>
{% endblock %}
