{% extends "layout.html" %}

{% block title %}
    <link rel="stylesheet" href="{{url_for('static', filename='myprofilestyle.css')}}" />
    <title>My Profile</title>
{% endblock %}

{% block body %}
    <header>
        <section class="sitename"><a href="/">TraceNext</a></section>
        <a href="/logout" id="nav-log">Log Out</a>
    </header>

    <h1>
        My Profile
    </h1>

    <div class="mainform">
        <form action="/profile" method="post" id="form1">
            <div>
                <label for="firstname">First Name</label><br>
                <input class="input" type="text" name="firstname" id="firstname"
                       required value="{{ firstname }}"><br>
            </div>
            <div>
            <label for="lastname">Last Name</label><br>
            <input class="input" type="text" name="lastname" id="lastname"
                   required value="{{ lastname }}"/><br>
            </div>
            <div>
                <label for="email">Email</label><br>
                <input class="input" type="email" name="email" id="email"
                       required value="{{ email }}"/><br>
            </div>
            <div>
                <label for="password">Old Password</label><br>
                <input class="input" type="password" name="password" id="password" required /><br>
            </div>
            <div>
                <label for="password">New Password</label><br>
                <input class="input" type="password" name="newpassword" id="newpassword" required /><br>
            </div>
            <button type="submit">
                SAVE CHANGES
            </button>
        </form>
    </div>
{% endblock %}