/* CSS RESET  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------------------------------ */

:root {
	--primary-blue: #6fbee5;
	--primary-yellow: #ebac78;
	--accent-blue: #007194;
	--placeholder: rgb(216, 216, 216);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1em 0;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: white;
	background-color: var(--accent-blue);
	align-items: center;
	border-bottom: solid var(--primary-yellow) 2px;
}
header nav {
	width: 30%;
	display: flex;
	justify-content: space-around;
	margin-right: 2em;
}
header .sitename {
	margin-left: 2em;
	font-family: "Cookie", cursive;
	font-size: 2em;
}
header nav a {
	color: white;
	text-decoration: none;
}
header nav a:hover {
	text-decoration: underline var(--primary-yellow) 2px;
	transition: linear 0.1s;
}

body {
	background-color: var(--primary-blue);
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85vh;
	font-family: "Poppins" sans-serif;
}

main h1 {
	margin: 5vh auto;
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 3em;
}

main form {
	display: flex;
	justify-content: space-around;
	background-color: white;
	width: 40vw;
	height: 40vh;
	border-radius: 10px;
	padding: 3em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
	border: solid var(--primary-yellow) 3px;
}
main form h2 {
	font-weight: 600;
	font-size: 100%;
	line-height: 1.5em;
	margin: 1em 0;
}
main form h2 i {
	text-decoration: underline;
	font-style: italic;
}
main form div {
	margin-bottom: 1em;
}

main form button {
	width: 10em;
	height: 2em;
	background-color: var(--primary-yellow);
	border: none;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: white;
	font-size: 1.1em;
	margin: auto;
}
main form button:hover {
	cursor: pointer;
	text-decoration: underline;
}
